# Azure
python-dotenv
azure-functions
fpdf

# AI Management Framework
langchain
langchain-core

# AI Providers
openai
langchain-openai
langchain-anthropic
langchain-cohere
# langchain-community
# langchain-huggingface

# Email Genaration
pydantic>=2.6
markdown2
# langchain-email

# Automated Tests
requests
pytest