azure-functions
fpdf

# LangChain core
langchain
langchain-core

# Providers (install only what you use)
openai
langchain-openai
langchain-anthropic
langchain-cohere
# langchain-community
# langchain-huggingface

# Markdown to HTML
markdown2